$staff-line-height: 1rem;
$staff-line-negative-margin: calc(#{$staff-line-height} / -2);
$staff-line-border-width: 0.1rem;
$staff-non-border-padding: $staff-line-border-width;

.staff {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;

  .bar {
    height: 80%;
    width: 80%;
    /* background: lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    .treble-clef {
      font-size: 9.4rem;
      position: absolute;
      top: 36.3%;
    }

    .staff-line {
      flex: 0 0 auto;
      height: $staff-line-height;
      justify-content: center;
      box-sizing: border-box;
      opacity: 0.8;
      display: block;
      width: 100%;
      margin-top: $staff-line-negative-margin;
      padding-bottom: $staff-non-border-padding;
      display: grid;
      grid-template-columns: repeat(8, 1fr);

      .note {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          flex: 0 0 auto;
        }

        img.wholenote {
          height: 100%;
        }

        span.wholenote {
          width: 1rem;
          height: 100%;
          background: white;
          border-radius: 50%;
          box-sizing: border-box;
          border: 0.1rem solid;
        }

        .halfnote {
          height: 507%;
          transform: translateY(-100%);
          top: 156%;
          position: relative;
          margin-left: -22%;
        }

        .quarternote {
          height: 481%;
          transform: translateY(-100%);
          top: 156%;
          position: relative;
          margin-left: -22%;
        }

        .accidental {
          position: relative;
          height: 193%;
          display: block;
          transform: translateY(-50%);
          top: 50%;
          margin-left: -25%;
        }
      }

      .note.sharp::before {
        content: '♯';
        position: absolute;
        margin-left: -1.3rem;
        font-size: 1.6rem;
      }
    }

    [data-ledger] {
      .note::after {
        position: absolute;
        content: '';
        border-bottom: 0.1rem solid;
        width: 2rem;
      }
    }

    /* .staff-line[data-key='e5'],  */
    .staff-line[data-key='g5'],
    .staff-line[data-key='e5'],
    .staff-line[data-key='c5'],
    .staff-line[data-key='a4'],
    .staff-line[data-key='f4'] {
      border-style: none none solid none;
      border-width: $staff-line-border-width;
      z-index: 1;
      padding-bottom: 0;
      /* background: pink; */
    }

    .staff-line:nth-child(2) {
      margin-top: 0;
      /* background: blue; */
    }

  }

  .bar:nth-child(1) {
    .staff-line {
      padding-left: 20%;
    }
  }
}