@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.staff {
  width: 100%;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.staff .bar {
  height: 80%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.staff .bar:nth-child(1) .staff-line {
  padding-left: 3.4rem;
}

.staff .bar .treble-clef {
  font-size: 9.4rem;
  position: absolute;
  top: 36.3%;
}

.staff .bar .staff-line {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0.8;
  display: block;
  width: 100%;
  margin-top: calc(1rem / -2);
  padding-bottom: 0.125rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  /* .staff-line[data-key='e5'],  */
}

.staff .bar .staff-line .note {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

.staff .bar .staff-line .note img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.staff .bar .staff-line .note img.wholenote {
  height: 100%;
}

.staff .bar .staff-line .note img.halfnote {
  height: 507%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  top: 156%;
  position: relative;
  margin-left: -22%;
}

.staff .bar .staff-line .note img.quarternote {
  height: 481%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  top: 156%;
  position: relative;
  margin-left: -22%;
}

.staff .bar .staff-line .note img.accidental {
  position: relative;
  height: 193%;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  margin-left: -25%;
}

.staff .bar .staff-line .note .note-body {
  background-color: black;
  width: 1rem;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.1rem solid;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 0.35rem;
  max-height: 1rem;
}

.staff .bar .staff-line .note .note-body .stem {
  border-right: solid black 0.125rem;
  height: 3rem;
  margin-right: -0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 0;
  overflow: visible;
  border-radius: 0.1rem;
}

.staff .bar .staff-line .note .note-body .stem::before,
.staff .bar .staff-line .note .note-body .stem::after {
  content: '';
  width: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 0 63.8%;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translate(-0.2rem, -0.04rem) rotateZ(37deg);
          transform: translate(-0.2rem, -0.04rem) rotateZ(37deg);
  border-bottom: 0.2rem solid transparent;
  border-top: 0.25rem solid black;
  border-left: 0.20rem solid transparent;
  border-right: 0.05rem solid black;
  height: 0.5rem;
}

.staff .bar .staff-line .note .note-body .stem::after {
  margin-top: -0.4rem;
}

.staff .bar .staff-line .note[data-dotted="true"] .note-body::after {
  content: '';
  width: 0.3rem;
  height: 0.3rem;
  background: black;
  margin-bottom: -0.4rem;
  margin-right: -0.5rem;
  border-radius: 101%;
}

.staff .bar .staff-line .note[data-dotted="true"] .note-body .stem {
  margin-right: 0.1rem;
}

.staff .bar .staff-line .note[data-accidental='sharp']::before {
  content: '♯';
  position: absolute;
  margin: 0.15rem 0 0 -1.1rem;
  font-size: 1.6rem;
}

.staff .bar .staff-line .note[data-type='whole'] {
  -ms-grid-column-span: 16;
      grid-column-end: span 16;
}

.staff .bar .staff-line .note[data-type='whole'] .note-body {
  background: white;
}

.staff .bar .staff-line .note[data-type='whole'] .note-body .stem {
  display: none;
}

.staff .bar .staff-line .note[data-type='half'] {
  -ms-grid-column-span: 8;
      grid-column-end: span 8;
}

.staff .bar .staff-line .note[data-type='half'] .note-body {
  background: white;
}

.staff .bar .staff-line .note[data-type='half'] .note-body .stem::before,
.staff .bar .staff-line .note[data-type='half'] .note-body .stem::after {
  display: none;
}

.staff .bar .staff-line .note[data-type='quarter'] {
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
}

.staff .bar .staff-line .note[data-type='quarter'] .stem::before,
.staff .bar .staff-line .note[data-type='quarter'] .stem::after {
  display: none;
}

.staff .bar .staff-line .note[data-type='eigth'] {
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.staff .bar .staff-line .note[data-type='eigth'] .note-body .stem::after {
  display: none;
}

.staff .bar .staff-line .note[data-type='sixteenth'] {
  -ms-grid-column-span: 1;
      grid-column-end: span 1;
}

.staff .bar .staff-line .note.bridged.eigth .note-body .stem, .staff .bar .staff-line .note.bridged.sixteenth .note-body .stem {
  border-radius: 0;
}

.staff .bar .staff-line .note.bridged.eigth .note-body .stem::after,
.staff .bar .staff-line .note.bridged.eigth .note-body .stem::before, .staff .bar .staff-line .note.bridged.sixteenth .note-body .stem::after,
.staff .bar .staff-line .note.bridged.sixteenth .note-body .stem::before {
  display: none;
}

.staff .bar .staff-line[data-ledger] .note::after {
  position: absolute;
  content: '';
  border-bottom: 0.1rem solid;
  width: 2rem;
}

.staff .bar .staff-line[data-key='g5'], .staff .bar .staff-line[data-key='e5'], .staff .bar .staff-line[data-key='c5'], .staff .bar .staff-line[data-key='a4'], .staff .bar .staff-line[data-key='f4'] {
  border-style: none none solid none;
  border-width: 0.125rem;
  z-index: 1;
  padding-bottom: 0;
  /* background: pink; */
}

.staff .bar .staff-line:nth-child(2) {
  margin-top: 0;
}

.staff .bar .bridge {
  position: absolute;
}

.staff .bar .bridge line {
  stroke: black;
  stroke-width: 1rem;
  stroke-linecap: round;
}

.staff .bar .bridge .note-line {
  stroke-width: 0.16rem;
}

.staff .bar .bridge .bridge-line-sixteenth {
  stroke-width: 0.3rem;
}

/*6.67% = 100% no overflow*/
/*11.1% = ocatave no overflow*/
.keyboard-section {
  height: 35%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.keyboard-section .keyboard {
  /* background: blue; */
  height: 80%;
  width: 100%;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.keyboard-section .keyboard .keys {
  border-color: gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* justify-content: center; */
}

.keyboard-section .keyboard .keys.white {
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 0 0.1rem 0.3rem;
  border-style: none solid solid;
  width: 11.1%;
  margin-left: calc(calc(11.1% / 2) / -2);
  height: 99%;
  border-color: #c7c7c7;
}

.keyboard-section .keyboard .keys.white.playing {
  margin-top: 0.1rem;
  border-width: 0 0.105rem 0.05rem;
}

.keyboard-section .keyboard .keys.white:focus {
  z-index: 1;
}

.keyboard-section .keyboard .keys.white[data-key*='c'], .keyboard-section .keyboard .keys.white[data-key*='f'] {
  margin-left: 0;
}

.keyboard-section .keyboard .keys.black {
  background: #303030;
  height: 58%;
  width: calc(11.1% / 2);
  z-index: 2;
  margin-left: calc(calc(11.1% / 2) / -2);
  border-width: 0 0.4rem 0.5rem;
  border-style: none solid solid;
  border-color: black #1f1f1f;
}

.keyboard-section .keyboard .keys.black.playing {
  border-color: black #181818;
  border-width: 0 0.4rem 0.3rem;
}
/*# sourceMappingURL=style.css.map */