:root {
  --white-key-width: 11.1%;
  /*6.67% = 100% no overflow*/
  /*11.1% = ocatave no overflow*/
  --black-key-width: calc(var(--white-key-width) / 2);
  --negative-margin: calc(var(--black-key-width) / -2);

  --staff-line-height: 2rem;
  --staff-line-negative-margin: calc(var(--staff-line-height) / -2);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.staff {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  height: 80%;
  width: 80%;
  background: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar:nth-child(1) .staff-line {
  padding-left: 20%;
}

.treble-clef {
  font-size: 17rem;
  position: absolute;
  top: 32%;
  /* color: #5b9c41; */
  /* text-shadow: 0 0 3px #0000007a; */
}

.staff-line {
  height: var(--staff-line-height);
  /* margin: -16px 0 0; */
  /* display: flex; */
  justify-content: center;
  /* background: green; */
  /* border-style: solid none solid none;
  border-width: 0.2rem; */
  box-sizing: border-box;
  opacity: 0.8;
  display: block;
  width: 100%;
  margin-top: var(--staff-line-negative-margin);
  display: flex;
  padding-bottom: 0.2rem;
}

/* .staff-line[data-key='e5'],  */
.staff-line[data-key='g5'],
.staff-line[data-key='e5'],
.staff-line[data-key='c5'],
.staff-line[data-key='a4'],
.staff-line[data-key='f4'] {
  border-style: none none solid none;
  border-width: 0.2rem;
  z-index: 1;
  padding-bottom: 0;
  /* background: pink; */
}

.staff-line:nth-child(2) {
  margin-top: 0;
  /* background: blue; */
}

[data-ledger] .note::before {
  position: relative;
  content: '';
  right: 0%;
  border-top: 0.2rem solid;
  width: 3.1rem;
  margin-right: -26%;
  margin-top: 9%;
}

.note {
  display: flex;
  min-width: 61px;
  justify-content: center;
}

[data-ledger] .note {
  min-width: 133px;
}

.note img {
  flex: 0 0 auto;
}
.wholenote {
  height: 100%;
}
.halfnote {
  height: 507%;
  transform: translateY(-100%);
  top: 156%;
  position: relative;
  margin-left: -22%;
}
.quarternote {
  height: 481%;
  transform: translateY(-100%);
  top: 156%;
  position: relative;
  margin-left: -22%;
}

.accidental {
  position: relative;
  height: 193%;
  display: block;
  transform: translateY(-50%);
  top: 50%;
  margin-left: -25%;
}

/* .staff-line[data-key='e5'] {
  transform: translateY(-100%);
  border-style: none none solid none;
  border-width: 0.2rem;
  background: lightcoral;
} */

/* .staff-line[data-key='d5'] {
  transform: translateY(-150%);
  background: lightslategray;
} */

/* .staff-line[data-key='c5'] {
  transform: translateY(-200%);
  border-style: none none solid none;
  border-width: 0.2rem;
  background: limegreen;
} */

.keyboard-section {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.keyboard {
  /* background: blue; */
  height: 80%;
  width: 100%;
  overflow: scroll;
  display: flex;
  /* justify-content: center; */
}

.keys.white {
  background: white;
  box-sizing: border-box;
  border-width: 0 0.1rem 0.3rem;
  border-style: none solid solid;
  width: var(--white-key-width);
  margin-left: var(--negative-margin);
  height: 99%;
  border-color: #c7c7c7;
}

.white.playing {
  margin-top: 0.1rem;
  border-width: 0 0.105rem 0.05rem;
}

.keys.black {
  background: rgb(48, 48, 48);
  height: 58%;
  width: var(--black-key-width);
  z-index: 1;
  margin-left: var(--negative-margin);
  border-width: 0 0.4rem 0.5rem;
  border-style: none solid solid;
  border-color: black rgb(31, 31, 31);
}

.black.playing {
  border-color: black rgb(24, 24, 24);
  border-width: 0 0.4rem 0.3rem;
}

.keys {
  border-color: gray;
  box-sizing: border-box;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.keys[data-key='f3'],
.keys[data-key='c4'],
.keys[data-key='f4'],
.keys[data-key='c5'],
.keys[data-key='f5'] {
  margin-left: 0;
}
